{% extends 'layout.html' %}

{% load add_class %}

{% block content %}
    <h3>API Token Generated.</h3>
    <p>
        Token: {{ token.key }}
    </p>

    <div>
        <h4>Get Contact List</h4>
        <code>
            curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ object.get_absolute_url }}/api/contacts/ -H 'Authorization: Token {{ token.key }}' -H 'Accept: application/json; indent=4'
        </code>
    </div>

    <div>
        <h4>Get Contact</h4>
        <code>
            curl -X GET {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ object.get_absolute_url }}/api/contacts/1/ -H 'Authorization: Token {{ token.key }}' -H 'Accept: application/json; indent=4'
        </code>
    </div>

    <div>
        <h4>Create Contact Update</h4>
        <code>
            <pre>
curl -X POST {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ object.get_absolute_url }}/api/contact_updates/ -H 'Authorization: Token {{ token.key }}' -H 'Accept: application/json; indent=4' -d '{
    "contact": 1,
    "name": "Test Name",
    "phone": "Test Phone",
    "address": "Test Address",
    "description": "Test Description",
    "price": 10.0
}' -H 'Content-Type: application/json'
            </pre>
        </code>
    </div>
{% endblock %}