{% load add_class %}
{% load str_replace %}

<div class="{% str_replace '__contact_update_prefix__' 'empty_form' contact_update_formset.empty_form.prefix %}"
     style="display: none;">
    <div class="inline">
        <legend>
            Contact Update #<span class="contact_update_form_idx"></span>
            <a href="javascript:;" class="del_button" prefix="{% str_replace '__contact_update_prefix__' '' contact_update_formset.empty_form.prefix %}">(delete)</a>
        </legend>
        {% for hidden in contact_update_formset.empty_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in contact_update_formset.empty_form.visible_fields %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10 ">
                {{ field|add_class:'form-control input-lg' }}
                {% if field.errors %}
                <span class='text-danger'>{{ field.errors|join:'<br/>' }}</span>
                {% endif %}
                {% if field.help_text %}
                <span class="help-block ">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <!-- PhoneUpdate -->
        <div class="phone-update-form">
            {% if contact_update_formset.empty_form.phone_update %}

            {{ contact_update_formset.empty_form.phone_update.management_form }}
            {{ contact_update_formset.empty_form.phone_update.non_form_errors }}

            <div class="phone-update-forms-container">
            </div>

            {% include "service/serviceupdate_form/phone_update_form_empty_form.html" with phone_update_formset=contact_update_formset.empty_form.phone_update %}

            {% endif %}
        </div>
        <!-- //PhoneUpdate -->

    </div>
</div>

<div style="text-align: right; margin-bottom: 20px;" class="add_contact_button_container">
    <a href="javascript: ;" class="add_contact btn btn-primary add_button"
       prefix="{% str_replace '__contact_update_prefix__' '' contact_update_formset.empty_form.prefix %}"
       empty_form="{% str_replace '__contact_update_prefix__' 'empty_form' contact_update_formset.empty_form.prefix %}">Add another
        contact</a>
</div>