{% load add_class %}
{% load str_replace %}

<div class="{% str_replace '__prefix__' 'empty_form' servicearea_update_formset.empty_form.prefix %}" style="display: none;">
    <div class="inline">
        <legend>
            Service Area Update #<span class="servicearea_prefix_id"></span>
            <a href="javascript:;" class="del_button" prefix="{% str_replace '__prefix__' '' servicearea_update_formset.empty_form.prefix %}">(delete)</a>
        </legend>
        {% for hidden in servicearea_update_formset.empty_form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in servicearea_update_formset.empty_form.visible_fields %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10 ">
                {% if field.name != 'area' %}
                {{ field|add_class:'form-control input-lg' }}
                {% else %}
                {{ field }}
                {% endif %}
                {% if field.errors %}
                <span class='text-danger'>{{ field.errors|join:'<br/>' }}</span>
                {% endif %}
                {% if field.help_text %}
                <span class="help-block ">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>

<div style="text-align: right;margin-bottom: 20px;" class="add_servicearea_button_container">
    <a href="javascript: ;" class="add_servicearea btn btn-primary add_button" prefix="{% str_replace '__prefix__' '' servicearea_update_formset.empty_form.prefix %}" empty_form="{% str_replace '__prefix__' 'empty_form' servicearea_update_formset.empty_form.prefix %}">Add another service area</a>
</div>